<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Importações do Bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <style>
  body {
      background-clip: ;
  }
    .custom-form {
      max-width: 300px;
      margin: auto;
      text-align: ;
    }
    .custom-form .form-control {
      width: 100%;
    }
    .custom-form .btn-primary {
      width: 100%;
      padding: 10px;
      font-size: 1.2em;
    }
  </style>
</head>
<body>
  <div class="custom-form mt-5">
    <form method="POST" action="http://192.168.100.127:5000/criat">
      <div class="mb-3">
          <div>
        <label for="exampleInputEmail1" class="form-label">Nome</label>
        <input name="nome" type="name" class="form-control" id="nome" aria-describedby="emailHelp">
          </div>
      <div class="mb-3">
          <div>
        <label for="exampleInputEmail1" class="form-label">Email</label>
        <input name="email" type="email" class="form-control" id="email" aria-describedby="emailHelp">
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Senha</label>
        <input name="senha" type="password" class="form-control" id="exampleInputPassword1">
      </div>
      
                <button type="submit" class="btn btn-secondary">Criar conta</button>
      </form>

</body>
</html>
