<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transferir</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <h1>Transferir dinheiro</h1>
            <form>
                <div class="form-group">
                    <label for="valor">Valor:</label>
                    <input type="number" class="form-control" id="valor" placeholder="">
                </div>
                <div class="form-group">
                    <label for="chavePix">Chave Pix:</label>
                    <input type="text" class="form-control" id="chavePix" placeholder="">
                </div>
                <button type="button" class="btn btn-dark">Confirmar</button>
            </form>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
