<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criar Link de Pagamento</title>
    <!-- Adicione os links para os arquivos Bootstrap CSS e JavaScript aqui -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h1>Criar Link de Pagamento</h1>
        <form action="/gerar/{{user}}" method="POST">
            <div class="form-group">
                <label for="valor">Preço do link de pagamento:</label>
                <input name="valor" type="number" class="form-control" placeholder="0">
            </div>
            <button type="submit" class="btn btn-primary">Criar link</button>
        </form>
    </div>
    <!-- Adicione os links para os arquivos Bootstrap JavaScript aqui -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
